// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * dashcamv2 topology: one GC2053 MIPI sensor on CAM0.
 * CAM1 is a USB UVC camera and is enumerated by uvcvideo at runtime.
 * GPIO, I2C and regulator values are reused from the LubanCat single-camera
 * GC2053 configuration and must be verified against the production schematic.
 */

/ {
	cam0_24m_clk: cam0-24m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "cam0_24m_clk";
	};

	cam_dovdd: cam-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	cam_avdd: cam-avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	cam_dvdd: cam-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};
};

&csi2_dphy_hw { status = "okay"; };

&csi2_dphy0 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			cam0_dphy_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&gc2053_cam0_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			cam0_dphy_out: endpoint { remote-endpoint = <&mipi0_csi2_input>; };
		};
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	gc2053_cam0: gc2053-cam0@37 {
		compatible = "galaxycore,gc2053";
		reg = <0x37>;
		clocks = <&cam0_24m_clk>;
		clock-names = "xvclk";
		pwdn-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio5 1 GPIO_ACTIVE_LOW>;
		dovdd-supply = <&cam_dovdd>;
		avdd-supply = <&cam_avdd>;
		dvdd-supply = <&cam_dvdd>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2274-V10";
		rockchip,camera-module-lens-name = "28IRC-F20";
		port {
			gc2053_cam0_out: endpoint {
				remote-endpoint = <&cam0_dphy_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&mipi0_csi2 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			mipi0_csi2_input: endpoint { remote-endpoint = <&cam0_dphy_out>; };
		};
		port@1 {
			reg = <1>;
			mipi0_csi2_output: endpoint { remote-endpoint = <&cif_mipi_in0>; };
		};
	};
};

&rkcif { status = "okay"; pinctrl-names = "default"; pinctrl-0 = <&mipi_pins>; };

&rkcif_mipi_lvds {
	status = "okay";
	port { cif_mipi_in0: endpoint { remote-endpoint = <&mipi0_csi2_output>; }; };
};

&rkcif_mipi_lvds_sditf {
	status = "okay";
	port { mipi_lvds0_sditf: endpoint { remote-endpoint = <&isp_in0>; }; };
};

&rkisp { status = "okay"; };

&rkisp_vir0 {
	status = "okay";
	port { isp_in0: endpoint { remote-endpoint = <&mipi_lvds0_sditf>; }; };
};
