// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/input/input.h>
#include <dt-bindings/display/media-bus-format.h>

/ {
	panel: panel {
		compatible = "simple-panel";
		status = "okay";
		backlight = <&backlight>;
		bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
        // enable-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
        // enable-delay-ms = <20>;

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <33708000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <46>;
				hfront-porch = <210>;
				vback-porch = <23>;
				vfront-porch = <22>;
				hsync-len = <4>;
				vsync-len = <5>; //value range <2~22>
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <1>;
			};

			timing1: timing1 {
				clock-frequency = <5670000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <46>;
				hfront-porch = <200>;
				vback-porch = <23>;
				vfront-porch = <32>;
				hsync-len = <4>;
				vsync-len = <5>; //value range <2~22>
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&rgb_out_panel>;
			};
		};
	};
};

&i2c4 {
    status = "okay";
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2c4m2_xfer>;

	touchscreen5@14 {
		compatible = "goodix,gt1151";
		reg = <0x14>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PA4 IRQ_TYPE_LEVEL_LOW>;
		irq-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;
	};

	touchscreen7@5d {
		compatible = "goodix,gt1151";
		reg = <0x5d>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PA4 IRQ_TYPE_LEVEL_LOW>;
		irq-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;
	};
};

